---
import BaseLayout from "~/layouts/base-layout.astro";
---

<BaseLayout>
	<div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
		<div hx-get="/songs/data" hx-swap="outerHTML" hx-trigger="revealed"></div>
	</div>
</BaseLayout>
